body {
  margin: auto;
  width: 40%;
  background-color: #274482;
}

.screen {
  background-color: #babac5;
  margin: 5px 0 0;
  height: 50px;
  text-align: end;
}

.button-column {
  width: 25%;
  height: 50px;
}

.orange {
  background-color: #f5b070;
}

.last {
  width: 50%;
}

.button-column-1 {
  width: 75%;
  height: 50px;
}
